  <h2>Shorten it (no one ever said)</h2>

  Long URL:
  <form style="display:inline" action="/urls" method="post" name="the_viewpost_form">

    <input type="text" name="long_url" style="display:inline;width:300px" VALUE="http://">

    <input type="submit" value="Chomp it!" style="display:inline;margin-left:20px">

  </form>
  </br>
  </br>
  </br>
  <table width=80% border=1>
    <tr>
      <td>
        Short URL
      </td>
      <td>
        Long URL
      </td>
    </tr>


    <% @urls.reverse.each do |url| %>
    <tr>
      <td>
        <%= url.short_url %>
      </td>
      <td>
        <%= url.long_url %>
      </td>
    </tr>
    <% end %>
  </table>


